<footer class="footer">
  <small>
    <a href="http://www.extraconceptions.com">Copyright 2013 Extraordinary Conceptions</a>
    
  </small>
  <nav>
    <ul>
      <li><a href="https://secure.extraconceptions.com/about.html">About</a></li>
      <li><a href="https://secure.extraconceptions.com/contact.html">Contact</a></li>
      <li><a href="http://www.extra-conceptions.com">News</a></li>
    </ul>
  </nav>
</footer>

